<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>W.C.S Libreria</title>

        <!-- Llamando al CSS -->
    <link href="css/heroes.css" rel="stylesheet">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/styles.css" rel="stylesheet">
  </head>
  
  <body>
    <!-- Inicio del programa -->
    <main class="form-inicio">
      <form id= "formInicio" action="/inicio" method="post" >
        <div class="px-1 py-5 my-5 text-center">
          <img class="d-block mx-auto mb-4" src="img/libro.png" width="150" height="150">
          <h2 class="display-5 fw-bold">Bienvenido a la librería W.C.S</h2>
          <div class="col-lg-6 mx-auto">
            <p class="lead mb-4"> Disfruta de buscar tus libros favoritos en formato PDF y poder descargarlos libres de publicidad </p>
            <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
              <a type="button" href="/login" class="btn btn-primary btn-lg px-4 gap-3" >Administrador</a>
            </div>
            <br>
            <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
              <a type="button" href="/login_usu" class="btn btn-primary btn-lg px-4 gap-3" >Usuario</a>
            </div>
          </div>
        </div>
      </form>
    </main>
    <div class="b-example-divider mb-0"></div>
    <script src="js/bootstrap.bundle.min.js"></script>
  
  </body>
</html>
